gensim==4.2.0
nltk
pandas
spacy~=3.4.1
scikit-learn==0.24.2
scikit-optimize>=0.8.1
matplotlib
numpy>=1.19.1
libsvm
flask~=2.2.3
requests~=2.28.1
tomotopy
tqdm~=4.64.0
scipy~=1.9.1
torch~=1.10.0+cu111
torch-geometric~=2.2.0
torch-scatter~=2.0.9
torch-sparse~=0.6.13
datasets~=2.4.0
